body {
  background: #000000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.metadata {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Red Hat Display';
  font-size: 22px;
  font-weight: bold;
}

.slide-container {
  display: flex;
  scroll-snap-align: center;
  flex: 1 1 0%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.5s ease;
}

@media (orientation: landscape) {
  .landscape\:hidden {
      display: none;
  }

  .landscape\:h-\[100dvh\] {
      height: 100dvh;
  }
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1440 / 810;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  position: fixed;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: white;
  color: black;
}

.previousButton {
  left: 4px;
}

.nextButton {
  right: 4px;
}

.title {
  color: hsl(0, 0%, 100%);
  font-size: 2.25rem;
  font-family: 'Red Hat Display';
  font-weight: 400;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.text_center {
  margin: -0.5rem 0 -0.5rem;
  width: 100%;
  padding: 0.5rem;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

.slide-counter {
  position: absolute;
  top: 0;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  z-index: 1000;
}

@media (orientation: portrait) {
  .slide-container {
    height: 60vh;
    top: 37vh;
  }
}
